
<!DOCTYPE html>
<html ng-app="audible">
	<head>
		<title>Audible</title>
		
		<link href='http://fonts.googleapis.com/css?family=Lobster|Crimson+Text|Audiowide' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/style.css">

		<script src="js/jquery-1.11.1.js"></script>
		 
		<!-- Google canvg -->
		<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/rgbcolor.js"></script> 
		<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/StackBlur.js"></script>
		<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/canvg.js"></script> 
		

	</head>
	
	<body ng-controller="MenuController" onresize="resizeCanvas()">
			<div class="header row">
				Audible
			</div>
			
			<div class="body col left" get-menu-width menu-left-width=menuLeftWidth>
				<div class="menuContainer"> <!--  ng-include="template.url" -->
					<div ng-click="menuLeftWidth = 300"> <!--  ng-click="menuScreen = 'guitar'" -->
						<img src="svg/menu/main_guitar.svg" class="menuSvgGraphic">
					</div>
					<img src="svg/menu/main_bass.svg" class="menuSvgGraphic">
					<img src="svg/menu/main_piano.svg" class="menuSvgGraphic">
					<img src="svg/menu/main_settings.svg" class="menuSvgGraphic">
				</div>
			</div>
			
			<div class="body row scroll-y scroll-x" id="canvasDiv" get-canvas-left canvas-left=menuLeftWidth>
				<canvas id="songCanvas"></canvas>
			</div>
			
			<div class="footer row">
				<img src="svg/guitar_fretboard.svg" width="90%">
			</div>


		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    	<script src="controller.js"></script>
		<script src="js/core/files.js"></script>
		<script src="js/core/music.js"></script>

		<script>
			loadOrdered(files, start);			
		</script>
</body>
</html>	
